* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #014b64;
    min-height: 100vh;
    padding-bottom: 50px; /* space for footer */
}

/* MAIN CARD */
.container {
    width: 320px;
    margin: 120px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.container h2 {
    margin-bottom: 15px;
    color: #0a2540;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 18px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005ad6;
}

#weatherResult {
    margin-top: 15px;
    font-size: 14px;
}

/* FIXED FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0a2540;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 1000;
}
